.constructor {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-self: end;
    width: 100%;
    max-height: 912px;
    box-sizing: border-box;
}
.constructor__wrapper {
    display: flex;
    align-items: center;
}
.constructor__wrapper:last-child {
    margin-bottom: 0;
}

.constructor__buy {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
}
.constructor__img {
    margin-right: auto;
}

.wrapper {
    overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
    width: 8px; 
    background-color: #2F2F37;
    border-radius: 0;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: #8585AD;;
    border-radius: 0;
}
.constructor__wrapper_align{
    justify-content: flex-end;
}