.aligin_text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: block;
  color: white;
}

.flex_column {
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: start;
  width: fit-content;
  margin: 0 auto;
}

.title {
  grid-column: 1 / span 2;
  justify-self: start;
}