.aligin_text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  display: block;
}

.flex_column {
  flex-direction: column;
}

.menu_link {
  max-width: 320px;
  width: 100%;
}
