.details {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.wpapper {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.details__wrapper {
    text-align: center;
}
.details__text {
  margin: 5px 0;
}