.ingridients {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.ingridients__wrapper {
    display: flex;
    align-items: center;
}
.ingridients__buy {
    display: flex;
    align-items: center;
    align-self: end;
}
