.ingridients {
    max-width: 600px;
    justify-self: end;
    width: 100%;
}
.ingridients__wrapper {
    display: flex;
    align-items: center;
}
.ingridients__buy {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
}
.ingridients__img {
    margin-right: auto;
}
